@font-face {
	font-family: "iconfont";
	src: url('~@/static/iconfont/iconfont.ttf');
	/* IE9 */
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-jia:before {
  content: "\e620";
}

.icon-tubiaozhizuo-1:before {
  content: "\e60e";
}

.icon-fenxiang:before {
  content: "\e72f";
}

.icon-bofang:before {
  content: "\e618";
}

.icon-zan:before {
  content: "\e61f";
}

.icon-shouye:before {
  content: "\e609";
}

.icon-wode:before {
  content: "\e613";
}

.icon-xiaoxi1:before {
  content: "\e695";
}

.icon-index:before {
  content: "\e601";
}

.icon-gouwu:before {
  content: "\e646";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-yincang:before {
  content: "\e635";
}

.icon-tubiaozhizuo-:before {
  content: "\e612";
}

.icon-xingxing:before {
  content: "\e632";
}

.icon-dingwei:before {
  content: "\e600";
}

.icon-ico_yueduliang:before {
  content: "\e62a";
}

.icon-jiantou:before {
  content: "\e60d";
}

.icon-fanhui:before {
  content: "\e611";
}

.icon-sousuo:before {
  content: "\e627";
}

